<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>Upload Data</title>
	</head>
	
	<body>
		<div class="row">
				<div class="col-lg-6">
				<ks:errorMsg flashmsg="${flash.error}" />
				</div>
		</div>
		<h2>Sukses!</h2>
	</body>

</html>
